.displayGame {
  border-radius: 2px;
  width: 300px;

  margin: auto;
  padding: 10px 0;
  background-color: $off-background;

  .buttonSection {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
}
