.board-container {
  &:focus {
    outline: none;
  }
}

.board {
  width: 216px;
  height: 216px;
  border: 1px solid black;
  //   display: flex;
  //   flex-direction: row;
  //   flex-wrap: wrap;
  margin-left: 50px;
  @media (min-width: 1200px) {
    width: 432px;
    height: 432px;
  }
  &:focus {
    outline: none;
  }
}

.board-grid {
  background-color: rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-columns: repeat(9, 24px [col-start]);
  grid-template-rows: repeat(9, 24px [row-start]);
  @media (min-width: 1200px) {
    grid-template-columns: repeat(9, 48px [col-start]);
    grid-template-rows: repeat(9, 48px [row-start]);
  }
}
