.playGamePage {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: auto;
}

.boardSide {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 300px;
  margin: 0px 20px;
  justify-content: center;
  @media (min-width: 1200px) {
    width: 500px;
  }
}

.modalSide {
  display: flex;
  justify-content: center;
}

.redoBtn {
  width: fit-content;
  margin: auto;
}
